// Variables

// Breakpoints

$brkpoint-sm: 1px;
$brkpoint-md: 768px;
$brkpoint-large: 992px;
$brkpoint-xlarge: 1260px;

// Button Colors

$colors: (
  //
  // Header Top
  //
  header-top-button-support-hover-off: #4184d7,
  header-top-button-support-hover-on: #296ec6,
  header-top-button-contact-hover-off: #999aa3,
  header-top-button-contact-hover-on: #84858f,
  header-top-button-search-hover-off: #999aa3,
  header-top-button-search-hover-on: #7f808a,
  header-top-button-nav-hover-off: #343645,
  header-top-button-nav-hover-on: #21242e,
  //
  //
);
