#header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  padding: 20px 0;
}

//
// Logo
//

#header-top img {
  padding: 0 15px;
  max-width: 100%;
}

//
// Search bar
//

.search-form-flex {
  display: inline-flex;
  align-items: center;
}

.search-bar {
  //display: inline-block !important;
  display: none;
  width: 240px;
  border: #cccccc 1px solid;
  font-size: 14px;
  line-height: 1.42857143;
  padding: 17px 15px;
  //transform: translateY(-10px);
  margin-left: 21px;

  @include mq("large") {
    display: inline-block !important;
  }
}

//
// Buttons
//

#header-top-buttons-flex {
  display: flex;
  padding: 0 15px;
  align-items: center;
}

.header-top-buttons {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px 15px;
  margin-left: 20px;
  color: white;
  padding: 6px 16px;
  height: 56px;
  font-size: 1.125rem;
}

#header-support-button {
  background-color: map-get($colors, "header-top-button-support-hover-off");
  &:hover {
    background-color: map-get($colors, "header-top-button-support-hover-on");
  }
}

#header-contact-button {
  background-color: map-get($colors, "header-top-button-contact-hover-off");
  &:hover {
    background-color: map-get($colors, "header-top-button-contact-hover-on");
  }
}

#header-search-button {
  background-color: map-get($colors, "header-top-button-search-hover-off");
  margin-left: -5px;
  border-radius: 0 3px 3px 0;
  &:hover {
    background-color: map-get($colors, "header-top-button-search-hover-on");
  }
}

#header-nav-button {
  background-color: map-get($colors, "header-top-button-nav-hover-off");
  &:hover {
    background-color: map-get($colors, "header-top-button-nav-hover-on");
  }
}

.icon {
  @include icon-style(header-top, support, mouse, 1.438rem, null, 0 5px 0 0, null, null);
  @include icon-style(header-top, contact, paper-plane, 1.438rem, null, 0 5px 0 0, null, null);
  @include icon-style(header-top, search, magnify-glass, 1.9rem, 900, 0 5px 0 0, null, null);
  //  @include icon-style(header-top, nav, three-lines, 2.1rem, 900, 0 5px 0 0, null, null);
}

.hamburger-icon {
  background-color: white;
  width: 33px;
  height: 4px;
  display: block;
  position: relative;

  &:before,
  &:after {
    content: "";
    background-color: white;
    width: 33px;
    height: 4px;
    position: absolute;
    left: 0;
  }

  &:before {
    top: -10px;
  }

  &:after {
    top: 10px;
  }
}
