#navbar {
  position: relative;
  background-color: color(nav-bar-background);
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: static;
  color: white;
  text-align: center;
  padding: 12px;
  width: 167px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;

  a {
    color: white;
  }

  &:hover {
    [class^="icon__nav-bar"] {
      &:before {
        color: white;
      }
    }
  }

  @include nav-item-hover(bespoke, color(bespoke-software-hover), -350%);
  @include nav-item-hover(it-support, color(it-support-hover), -250%);
  @include nav-item-hover(digital-marketing, color(digital-marketing-hover), -150%);
  @include nav-item-hover(telecoms-services, color(telecoms-services-hover), -50%);
  @include nav-item-hover(web-design, color(web-design-hover), 50%);
  @include nav-item-hover(cyber-security, color(cyber-security-hover), 150%);
  @include nav-item-hover(developer-course, color(developer-course-hover), 250%);
}

.nav-item small {
  font-size: 0.625rem;
  display: inline-block;
  transform: translateY(8px);
}

.icon {
  @include icon-style(nav-bar, bespoke, laptop2, 1.438rem, null, null, null, color(bespoke-software-icon), null, 10px);
  @include icon-style(nav-bar, it-support, monitor, 1.438rem, null, null, null, color(it-support-icon), null, 10px);
  @include icon-style(nav-bar, digital-marketing, signal, 1.438rem, null, null, null, color(digital-marketing-icon), null, 10px);
  @include icon-style(nav-bar, telecoms-services, phone-ring, 1.438rem, null, null, null, color(telecoms-services-icon), null, 10px);
  @include icon-style(nav-bar, web-design, code, 1.438rem, null, null, null, color(web-design-icon), null, 10px);
  @include icon-style(nav-bar, cyber-security, shield, 1.438rem, null, null, null, color(cyber-security-icon), null, 10px);
  @include icon-style(nav-bar, developer-course, diploma-hat, 1.438rem, null, null, null, color(developer-course-icon), null, 10px);
}
