/* Dropdown styles */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: red;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-item:hover .submenu {
  display: block;
}

.submenu-grid {
  display: grid;
  justify-items: start;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.submenu-grid h2 {
  grid-area: heading;
  color: white;
}

.submenu-grid li {
  margin: 0;
  padding: 10px;

  border-radius: 5px;
  color: white;
}

.icon {
  // Bespoke
  @include icon-style(bespoke-software-submenu, crm, cogs, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(bespoke-software-submenu, mobile-app, mobile, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(bespoke-software-submenu, operational-systems, download-server-box, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(bespoke-software-submenu, intranet, cloud, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(bespoke-software-submenu, automation, briefcase, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(bespoke-software-submenu, databases, folder, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(bespoke-software-submenu, implementation, group, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(bespoke-software-submenu, portal, cloud-download, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(bespoke-software-submenu, integrations, shuffle-arrows, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(bespoke-software-submenu, sharepoint, transfer-arrows, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(bespoke-software-submenu, iot, laptop, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(bespoke-software-submenu, reporting, globe, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  //IT-Support
  @include icon-style(it-support-submenu, managed-it, headphones, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(it-support-submenu, business-it, briefcase, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(it-support-submenu, office-365, laptop, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(it-support-submenu, consultancy, diploma-hat, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(it-support-submenu, cloud, cloud, 1.2rem, null, null, 0 10px 0 0, null, null, null);
  @include icon-style(it-support-submenu, backup, hard-drive, 1.2rem, null, null, 0 10px 0 0, null, null, null);
  //Digital Marketing
  @include icon-style(digital-marketing-submenu, seo, magnify-glass, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(digital-marketing-submenu, ppc, money, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(digital-marketing-submenu, cro, graph-arrow, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(digital-marketing-submenu, email, mail, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(digital-marketing-submenu, social-media, group, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(digital-marketing-submenu, content, pencil, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  //Telecoms Services
  @include icon-style(telecoms-services-submenu, business-mobile, ticket, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(telecoms-services-submenu, hosted-voip, phone, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(telecoms-services-submenu, business-voip, phone-square, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(telecoms-services-submenu, business-broadband, speed-test, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(telecoms-services-submenu, leased-lines, handshake, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(telecoms-services-submenu, 3cx, phone-ring, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  //Web-design
  @include icon-style(web-design-submenu, bespoke-website, pencil, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(web-design-submenu, ecommerce-website, trolley, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(web-design-submenu, pay-monthly-websites, monitor, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(web-design-submenu, branding-design, megaphone, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(web-design-submenu, mobile-app, mobile, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(web-design-submenu, web-hosting, cloud, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  //Cyber Security
  @include icon-style(cyber-security-submenu, assessment, paper-folded-corner, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(cyber-security-submenu, management, clock, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(cyber-security-submenu, penetration-testing, vial, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(cyber-security-submenu, essentials-certification, diploma-hat, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(cyber-security-submenu, pci-compliance, shield, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(cyber-security-submenu, hacking-prevention, padlock, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  //Developer Course
  @include icon-style(developer-course-submenu, train-for-career, laptop, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(developer-course-submenu, skills-bootcamp, code, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(developer-course-submenu, scion-faq, question-mark, 1.2rem, null, 0 10px 0 0, null, null, null, null);
  @include icon-style(developer-course-submenu, scion-collaborators, handshake, 1.2rem, null, 0 10px 0 0, null, null, null, null);
}

#bespoke-software-grid {
  grid-template-areas:
    "heading heading heading"
    "crm automation integrations"
    "mobile-app databases sharepoint"
    "operational-systems implementation iot"
    "intranet portal reporting";
}

#it-support-grid {
  grid-template-areas:
    "heading heading heading"
    "managed-it business-it office-365"
    "consultancy cloud backup";
}

#digital-marketing-grid {
  grid-template-areas:
    "heading heading heading"
    "seo ppc cro"
    "email social-media content";
}

#telecoms-services-grid {
  grid-template-areas:
    "heading heading heading"
    "business-mobile hosted-voip business-voip"
    "business-broadband leased-lines 3cx";
}

#web-design-grid {
  grid-template-areas:
    "heading heading heading"
    "bespoke-website ecommerce-website pay-monthly-websites"
    "branding-design mobile-app web-hosting";
}

#cyber-security-grid {
  grid-template-areas:
    "heading heading heading"
    "assessment management penetration-testing"
    "essentials-certification pci-compliance hacking-prevention";
}

#developer-course-grid {
  grid-template-areas:
    "heading heading heading"
    "train-for-career skills-bootcamp scion-faq"
    "scion-collaborators scion-collaborators scion-collaborators";
}
