.slick-dots li button {
  transform: translateY(-80px);
  // overflow: hidden;
}

.slick-dots li button:before {
  color: #fff;
  font-size: 12px;
  line-height: 25px;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  line-height: 24px;
  font-size: 14px;
  opacity: 1;
  @include mq("medium") {
    line-height: 22px;
  }
}

.banner-item {
  position: relative;
}

.slick-track {
  height: 600px;
}

.banner-item-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 52% center;
  }
}

.banner-item-content {
  position: relative;
  z-index: 2;
  //margin: 0 auto;
  //bottom: -55px;
  padding: 3.75rem 0;
  //width: 100%;
  color: white;
  font-weight: 600;

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: inherit;
    margin: 0 0 1.25rem;
    text-align: center;

    @include mq("medium") {
      font-size: 4rem;
      line-height: 5rem;
      font-weight: inherit;
      margin: 0 0 20px 0;
      text-align: unset;
    }
  }

  p {
    margin-bottom: 0.375rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: inherit;
    text-align: center;

    @include mq("medium") {
      font-size: 1.625rem;
      line-height: 2.5rem;
      font-weight: inherit;
      //  width: 70%;
      text-align: unset;
      justify-content: flex-start;
    }
  }

  @include mq("xsmall") {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include mq("small") {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include mq("medium") {
    display: block;
    padding: 8.75rem 0;
  }
}

.icon {
  @include icon-style($element: banner, $modifier: right-arrow, $icon: arrow-right, $display: inline-block, $font-size: inherit);
}

.button {
  @include e(banner) {
    @include m(button-1) {
      @extend %banner-button;
      background-color: #926fb1;
      border-color: #926fb1;

      &:hover {
        background-color: #7d57a0;
      }
    }
    @include m(button-2) {
      @extend %banner-button;
      background-color: #f7b322;
      border-color: #f7b322;

      &:hover {
        background-color: #e8a00a;
      }
    }
    @include m(button-3) {
      @extend %banner-button;
      background-color: #4183d7;
      border-color: #4183d7;

      &:hover {
        background-color: #296ec6;
      }
    }
    @include m(button-4) {
      @extend %banner-button;
      background-color: #2ecc71;
      border-color: #2ecc71;

      &:hover {
        background-color: #26ab5f;
      }
    }
    @include m(button-5) {
      @extend %banner-button;
      background-color: #d64541;
      border-color: #d64541;

      &:hover {
        background-color: #c42e2a;
      }
    }
    @include m(button-6) {
      @extend %banner-button;
      background-color: #926fb1;
      border-color: #926fb1;

      &:hover {
        background-color: #7d57a0;
      }
    }
    @include m(button-7) {
      @extend %banner-button;
      background-color: #f62459;
      border-color: #f62459;

      &:hover {
        background-color: #e80943;
      }
    }
  }
}
