#services-heading {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;

  span:first-child {
    font-size: 2.7rem;
    font-weight: 400;
    color: #333645;
  }

  span:last-child {
    @include mq("xsmall") {
      display: none;
    }

    font-size: 2.25rem;
    display: inline-flex;
    color: #333645;
    //align-items: baseline;

    a {
      // View Our Work URL
      font-size: 2.25rem;
      font-weight: 600;
    }
    &:hover {
      text-decoration: underline;
      .icon__services--view-our-work {
        text-decoration: underline;
      }
    }
  }
}

#xsmall-view-our-work {
  color: #333645;
  justify-content: center;
  margin-top: 12px;

  .icon__services--xsmall-view-our-work {
    font-size: 1.625rem;
    justify-content: center;
  }
  span {
    display: inline-flex;
    color: #333645;
    a {
      font-size: 1.625rem;
      font-weight: 600;
      display: inline-flex;
      align-items: baseline;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include mq("small") {
    display: none;
  }
}

.flex {
  @include e(services) {
    padding-left: 15px;
    padding-right: 15px;

    & a {
      width: 100%;
    }
  }
}

.grid {
  // gap: 15px;

  @include e(services) {
    @include m(bespoke-software) {
    }

    @include m(it-support) {
    }

    @include m(digital-marketing) {
    }

    @include m(telecoms-services) {
    }

    @include m(web-design) {
    }

    @include m(cyber-security) {
    }

    @include m(developer-training) {
    }
  }

  @include mq("small") {
    grid-template-columns: repeat(12, 1fr);

    .grid__services--bespoke-software,
    .grid__services--it-support,
    .grid__services--digital-marketing {
      grid-column: span 12;
    }

    .grid__services--telecoms-services,
    .grid__services--web-design,
    .grid__services--cyber-security,
    .grid__services--developer-training {
      grid-column: span 6;
    }
  }

  @include mq("medium") {
    .grid__services--bespoke-software,
    .grid__services--it-support,
    .grid__services--digital-marketing {
      grid-column: span 4;
    }
  }

  @include mq("large") {
    .grid__services--telecoms-services,
    .grid__services--web-design,
    .grid__services--cyber-security,
    .grid__services--developer-training {
      grid-column: span 3;
    }
  }
}

#services-container {
  // container section
  padding-top: 22px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include mq("small") {
    padding-bottom: 100px;
  }
}

#services-section {
  // services list
  margin-top: 20px;
  background-color: #ffffff;
  // margin-left: -15px;
  // margin-right: -15px;

  & span {
    //background-color: red;
  }
}

#services-row {
  // row
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// .avatar-test {
//   background-color: red;
//   width: 500px;
//   height: 500px;
//   margin: 0 auto 17px;
// }

.services-panel {
  // block
  margin-top: 30px;
  text-align: center;
  border-radius: 15px;
  position: relative;
  top: 0;
  transition: 0.5s ease;
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
  color: #343645;

  & span {
    display: block;
    text-align: center;

    &.heading {
      font-size: 1.3rem;
      padding-bottom: 10px;
      margin: 0 0 11px;
    }
    &.paragraph {
      font-size: 0.8125rem;
      line-height: 1.375rem;
      margin-bottom: 13px;
      font-weight: 400;
    }

    &.services-button {
      display: inline-block;
      line-height: 35px;
      padding: 5px 15px;
      text-transform: uppercase;
      font-size: 1.063rem;
      border-radius: 3px;
      font-weight: 400;
      border: 1px solid transparent;
      // color: white;
    }
  }

  &:hover {
    border-color: transparent;
    top: -10px;
  }
}

@include services-panel-colors($element: bespoke-software, $avatar-and-hover-colors: color(bespoke-software-avatar-hoverIcon-hoverButtonText), $button-colors: color(bespoke-software-services-button));
@include services-panel-colors($element: it-support, $avatar-and-hover-colors: color(it-support-avatar-hoverIcon-hoverButtonText));
@include services-panel-colors($element: digital-marketing, $avatar-and-hover-colors: color(digital-marketing-avatar-hoverIcon-hoverButtonText));
@include services-panel-colors($element: telecoms-services, $avatar-and-hover-colors: color(telecoms-services-avatar-hoverIcon-hoverButtonText));
@include services-panel-colors($element: web-design, $avatar-and-hover-colors: color(web-design-avatar-hoverIcon-hoverButtonText));
@include services-panel-colors($element: cyber-security, $avatar-and-hover-colors: color(cyber-security-avatar-hoverIcon-hoverButtonText));
@include services-panel-colors($element: developer-training, $avatar-and-hover-colors: color(developer-training-avatar-hoverIcon-hoverButtonText));

.icon {
  @include icon-style(
    $element: services,
    $modifier: xsmall-view-our-work,
    $icon: arrow-right,
    $font-size: 1.625rem,
    $font-weight: 400 !important,
    $line-height: 64px,
    $display: block,
    $color: #333645
  );
  @include icon-style($element: services, $modifier: view-our-work, $icon: arrow-right, $font-size: 2.25rem, $font-weight: normal !important, $line-height: 64px, $display: block, $color: #333645);
  @include icon-style($element: services, $modifier: bespoke-software, $icon: laptop2, $font-size: 2rem, $line-height: 64px, $display: block, $color: white);
  @include icon-style($element: services, $modifier: it-support, $icon: monitor, $font-size: 2rem, $line-height: 64px, $display: block, $color: white);
  @include icon-style($element: services, $modifier: digital-marketing, $icon: signal, $font-size: 2rem, $line-height: 64px, $display: block, $color: white);
  @include icon-style($element: services, $modifier: telecoms-services, $icon: phone, $font-size: 2rem, $line-height: 64px, $display: block, $color: white);
  @include icon-style($element: services, $modifier: web-design, $icon: code, $font-size: 2rem, $line-height: 64px, $display: block, $color: white);
  @include icon-style($element: services, $modifier: cyber-security, $icon: shield, $font-size: 2rem, $line-height: 64px, $display: block, $color: white);
  @include icon-style($element: services, $modifier: developer-training, $icon: diploma-hat, $font-size: 2rem, $line-height: 64px, $display: block, $color: white);
}

.services-avatar {
  //icon
  height: 65px;
  width: 65px;
  margin: 0 auto 17px;
  border-radius: 50%;
}
