#container-brand-section {
  @include mq("large") {
    width: 1255px; // Set your desired width here
  }
}

.icon {
  @include icon-style($element: brand, $modifier: button-right-arrow, $icon: arrow-right, $font-size: 20px, $font-weight: normal !important, $margin: 0 0 0 12px, $line-height: 35px, $color: white);
  @include icon-style($element: brand, $modifier: star, $icon: star, $font-size: 50px, $font-weight: normal !important, $margin: 0, $line-height: 0, $color: orange);
}

.button {
  @include e(brand) {
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    padding: 10px 26px;
    border-radius: 6px;
    margin-right: 9px;
    font-size: 20px;
    margin-bottom: 20px;
    @include m(welcome-to-netmatters) {
      background-color: #272936;
      &:hover {
        background-color: #121317;
      }
    }
    @include m(google-reviews) {
      @include mq("medium") {
        padding: 6px 26px;
      }
      background-color: #4288f7;
      &:hover {
        background-color: #146af4;
      }
    }
    @include m(trustpilot-reviews) {
      @include mq("medium") {
        padding: 6px 26px;
      }
      background-color: #06b67c;
      &:hover {
        background-color: #009b69;
      }
    }
  }
}

#brand-star-icon-div {
  //margin-top: 22px;
  //margin-bottom: 51px;
  @include mq("medium") {
    //margin-top: 22px;
    margin-bottom: 10px;
  }
}

#brand-background {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background-color: #333645;
}

.brand-section {
  padding: 50px 15px;

  color: white;

  h2 {
    margin-bottom: 52px;
    strong {
      font-size: 2.25rem;
      font-weight: 600;
    }
  }

  p {
    line-height: 1.875rem;
    margin-bottom: 25px;
    &:first-of-type {
      margin-top: -23px;
    }
    strong {
      font-weight: 600;
    }
    a {
      font-weight: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.brand-section__content {
  display: flex;
  flex-direction: column;

  div:last-child {
    display: inline-block;
    h2 {
      margin-top: 50px;
    }
  }

  @include mq("medium") {
    display: flex;
    flex-direction: row;
    div {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      &:not(.brand-buttons):not(#brand-star-icon-div) {
        // No extra padding on the buttons and the star icons
        padding: 0 15px;
      }
    }

    div:last-child {
      display: flex;

      h2 {
        margin-top: 0;
      }
    }

    div:first-child {
      flex: 1;
    }
    div:last-child {
      flex: 1;
    }
  }

  div:first-child {
  }
  div:last-child {
    p {
      // Targets clients quote
      &:first-of-type {
        font-weight: 600;
        font-size: 1.3rem;
        font-style: italic;
        margin-top: 26px;
      }
      // Targets clients author
      &:last-of-type {
        font-size: 1.1rem;
        font-weight: 600;
        color: #a3a8ac;
        a {
          font-size: inherit;
          font-weight: inherit;
          color: white;
        }
      }
    }
  }
}
