#container-articles-section {
  @include mq("large") {
    width: 1200px;
    margin-left: calc(50% - 1200px / 2);
  }
}

.articles-xsmall {
  justify-content: center;
  padding: 0 15px;
  margin-bottom: 20px;
  //align-items: center;
  font-weight: 600;
  font-size: 1.625rem;
  color: #333645;

  a {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
  }

  span {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }

  @include mq("small") {
    display: none;
  }
}

.articles-bar {
  padding-top: 50px;
}

.articles-section {
  padding: 15px 0 50px;
}

.articles-bar-heading {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 2.25rem;
    font-weight: 600;
    margin: 0 0 28px;
    color: #333645;
    line-height: 1.1;
  }

  h3 {
    @include mq("xsmall") {
      display: none;
    }
    a {
      font-size: 1.625rem;
      font-weight: 600;
      color: #333645;
      &:hover {
        text-decoration: underline;
      }
      span {
        font-size: inherit;
      }
    }
  }
}

#articles-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq("small") {
    flex-direction: row;
  }
}

.articles-item {
  flex-direction: column;

  position: relative; // needed to make anchor clickable on whole panel
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  z-index: 1;
  top: 0;
  transition: 0.5s ease;

  &:hover {
    top: -10px;
  }

  &-tooltip {
    background-color: #db8c0d;
    position: absolute;
    right: 0;
    top: 10px;
    color: #fff !important;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0 10px;
    line-height: 1.438rem;
    text-transform: uppercase;
    z-index: 2;
    &:hover {
      text-decoration: underline;
    }
    &-2 {
      background-color: #4183d7;
      position: absolute;
      right: 0;
      top: 10px;
      color: #fff !important;
      font-size: 0.75rem;
      font-weight: 600;
      padding: 0 10px;
      line-height: 1.438rem;
      text-transform: uppercase;
      z-index: 2;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-image {
    z-index: 1; //to cover the block border
    @include mq("small") {
      display: flex; // fix image bug on 3rd item
      flex-grow: 1; // fix image bug on 3rd item
    }
    img {
      width: 100%;
    }
  }

  // &:nth-child(2) {
  //   @include mq("small") {
  //     display: unset;
  //   }
  // }

  &:last-child {
    @include mq("small") {
      display: none;
    }
    @include mq("large") {
      display: unset;
    }
  }

  &-link {
    // to make the entire panel clickable
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &-block {
    margin-top: -11px; // to get the block border to meet the image

    padding: 30px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 0 0 3px 3px;

    h3 {
      margin-bottom: 15px;
      a {
        color: #db8c0d;
        font-weight: 600;
      }
      span {
        // read time
        text-transform: uppercase;
        color: rgba(51, 54, 69, 0.5);
        font-size: 0.85rem;
      }
    }
    p {
      margin-bottom: 25px;
      line-height: 1.375rem;
      font-size: 0.8125rem;
      color: hsl(0, 0%, 40%);
    }
  }

  &:last-child h3 a {
    // change the h3 a to blue of the last child of the article item
    color: #4183d7;
  }
}

.articles-item-block-user {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;

  display: flex;
  align-items: center;
  gap: 20px;

  div:first-child {
    //avatar
    border-radius: 50%;
    overflow: hidden;

    picture {
      display: flex;
    }
  }

  div:last-child {
    //details
    font-size: 0.8125rem;
    color: hsl(0, 0%, 40%);
    strong {
      font-size: inherit;
      font-weight: 600;
      color: #333645;
    }
  }
}

.button {
  @include e(articles) {
    @include m(read-more-1) {
      color: #fff !important;
      background-color: #db8c0d;
      border-color: #db8c0d;
      border: 1px solid transparent;
      padding: 5px 15px;
      display: inline-block;
      font-weight: 400;
      font-size: 1.063rem;
      text-transform: uppercase;
      line-height: 35px;
      border-radius: 3px;
    }
    @include m(read-more-2) {
      color: #fff !important;
      background-color: #4183d7;
      border-color: #4183d7;
      border: 1px solid transparent;
      padding: 5px 15px;
      display: inline-block;
      font-weight: 400;
      font-size: 1.063rem;
      text-transform: uppercase;
      line-height: 35px;
      border-radius: 3px;
    }
  }
}

.icon {
  @include icon-style(
    $element: articles,
    $modifier: view-all-right-arrow,
    $icon: arrow-right,
    $font-size: null,
    $font-weight: 400 !important,
    $margin: null,
    $line-height: null,
    $color: #333645,
    $display: inherit
  );
}
