.sidebar {
  text-transform: uppercase;
  color: #fff;
  width: 350px;
  background-color: #343645;

  > ul > li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    & > a {
      font-size: 1rem;
      padding: 20px;
      display: block;
      &:hover {
        background-color: #3d404e;
      }
    }
  }

  &-submenu {
    background-color: #272834;

    li {
      padding: 15px 20px;

      a {
        font-size: 0.875rem;
        display: block;
        &::before {
          content: "\BB";
          margin-right: 15px;
        }
      }
    }
  }

  position: fixed;
  top: 0;
  right: -350px;
  height: 100%;
  transition: right 0.5s ease-in-out;
  overflow-y: auto;
  z-index: 1000;

  &.active {
    right: 0;
    cursor: pointer;
  }
}

#container {
  position: relative;
  overflow-x: hidden;
}
.no-scroll {
  overflow: hidden;
  cursor: pointer;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
  }
}

#main-content {
  transition: transform 0.5s ease-in-out;
  position: relative;

  &.shifted {
    transform: translateX(-350px);
  }
}

#header-nav-button {
  z-index: 1001;
}
